/* PRIMARY COLOR: 5ED938
   TEXT COLOR: 141414
   BACKGROUND COLOR: EBEBEB
   ACCENT COLOR: 3D8F24
   WARNING COLOR: FFF445
   ERROR COLOR: FF6F00 */


/* ==========================================================================
   HEADER
   ========================================================================== */

.container {
    overflow: auto;
    background: #5ed938;   
    padding-left: 5%; 
    border-bottom: 5px solid #3D8F24;
    border-top: 5px solid #3D8F24;
}

h1 {
    float: left;
    width: 40%;
    color: #141414;
    font-family: 'Cinzel', serif;
}

.contactSection {
    float: left;
    margin: 40px 0 0 35%;
    width: 20%;
}

.contactSection li {
    display: inline-block;
}


/* ==========================================================================
   MAIN
   ========================================================================== */

body{
  background-color: #EBEBEB;
  font-family: 'Raleway', sans-serif;
}

p {
  color: #141414;
}

   /* ==========================================================================
   List of Articles
   ========================================================================== */

nav {
    border: solid 3px #3D8F24;
    width: 18%;
    margin: 5% 0 0 5%;
    float: left;
    background-color: #5ED938;
}

.articleList {
    list-style: none;
    line-height: 10px;
}

.navImg {
    display: inline-block;
    width: 80%;
    margin: 0 10% 5% 10%;
    border: solid 2px #3D8F24;
}

   /* ==========================================================================
   Articles
   ========================================================================== */

.articleSection {
    margin: 5%;
    width: 65%;
    float: right;
}

.articleHeader {
  color: #3D8F24;
  font-family: 'Cinzel', serif;
}

.articleSubHeader {
  color: #5ED938;
  font-family: 'Cinzel', serif;
}

.articleFooter {
    font-weight: bold;
    font-style: italic;
    font-size: .8em;
    font-family: 'Raleway', sans-serif;
}

article {
    margin-bottom: 100px;
}

.img2 {
  float: right;
  margin: 20px 0 15px 15px;
  border: 2px solid #3D8F24;
}