/* ==========================================================================
   HEADER
   ========================================================================== */


.container {
    margin-left: 5%;
    overflow: auto;    
    border: 2px solid black;
}

h1 {
    float: left;
}

.contactSection {
    float: left;
    margin-left: 70%;
}

.contactSection li {
    display: inline-block;
}


/* ==========================================================================
   MAIN
   ========================================================================== */

   /* ==========================================================================
   List of Articles
   ========================================================================== */

nav {
    border: solid 1px gray;
    width: 18%;
    margin: 5% 0 0 5%;
    float: left;
}

ul {
    list-style: none;
    line-height: 10px;
}

img {
    display: inline-block;
    width: 80%;
    margin: 0 10% 5% 10%;
}

   /* ==========================================================================
   Articles
   ========================================================================== */

.articleSection {
    margin: 5%;
    width: 65%;
    float: right;
}

.articleFooter {
    font-weight: bold;
    font-style: italic;
    font-size: .8em;
}

article {
    margin-bottom: 100px;
}